body {
  font-family: "Roboto", sans-serif, "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  padding-left: 5%;
  padding-right: 5%;
}

a.nav-link {
  color: black;
}

.MintForm {
  text-align: center;
}

#mint {
  visibility: visible;
}

section .header {
  text-align: center;
  margin: 12px;
}

.team {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-member {
  margin: 1%;
  text-align: center;
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@media (min-width: 600px) {
  .questions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    margin-left: 25%;
    margin-right: 25%;
  }
}

footer {
  margin-top: 1%;
  margin-bottom: 5%;
  text-align: center;
  font-size: small;
}
