body {
  margin: 0;
  font-family: "Roboto", sans-serif, "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  background-image: url("/src/images/kiddies_100px.png");
  background-repeat: repeat-xy;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MintForm {
  text-align: center;
}

#mint .container {
  position: relative;
  width: 100%;
  max-width: 800px;
}

#mint .container img {
  width: 100%;
  height: auto;
  animation: heartbeat 1s infinite;
}

#mint {
  visibility: visible;
}

section {
  display: flex;
  visibility: hidden;
}

footer {
  margin-top: 1%;
  text-align: center;
  font-size: small;
}

a.nav-link {
  color: black;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}
